<form [formGroup]="addForm" >
    <div>
        <label>user name:</label>
        <input type="text" formControlName="UserName" #id>
        @if (addForm.controls['UserName'].invalid && (addForm.controls['UserName'].dirty || addForm.controls['UserName'].touched)) {
            <div>you must enter user name</div>
        }
    </div>
    <div>
        <label>password:</label>
        <input type="password" formControlName="Password">
        @if (addForm.controls['Password'].invalid && (addForm.controls['Password'].dirty || addForm.controls['Password'].touched)) {
            @if (addForm.controls['Password'].errors?.['required']) {
                <div>you must enter password</div>
            }
            @if (addForm.controls['Password'].errors?.['minlength']) {
                <div>you must write at least 8 chars</div>
            }
        }
    </div>
    <button (click)="login()" [disabled]="addForm.invalid">התחברות</button>
</form>
