@if (branchProduct) {
  <div class="form-container">
    <div class="form-card">
      <h2 class="form-title">עדכון מוצר לסניף</h2>
      <form #form="ngForm" class="update-form">
      
        <div class="form-row">
          <label for="branchId" class="form-label">סניף:</label>
          <div class="form-field">
            <select
              id="branchId"
              name="branchId"
              [(ngModel)]="branchProduct.branchId"
              required
              #branchId="ngModel"
              class="form-select">
              <option value="">בחר סניף</option>
              @for (branch of branches; track branch.id) {
                <option
                  [value]="branch.id"
                  [selected]="branch.id === branchProduct.branchId">
                  {{ branch.name }}
                </option>
              }
            </select>
            <div class="error-message" [hidden]="branchId.valid || branchId.pristine">
              <div [hidden]="!branchId.errors?.['required']">חובה לבחור סניף</div>
            </div>
          </div>
        </div>

      
        <div class="form-row">
          <label for="productId" class="form-label">מוצר:</label>
          <div class="form-field">
            <select
              id="productId"
              name="productId"
              [(ngModel)]="branchProduct.productId"
              required
              #productId="ngModel"
              class="form-select">
              <option value="">בחר מוצר</option>
              @for (product of products; track product.id) {
                <option
                  [value]="product.id"
                  [selected]="product.id === branchProduct.productId">
                  {{ product.name }}
                </option>
              }
            </select>
            <div class="error-message" [hidden]="productId.valid || productId.pristine">
              <div [hidden]="!productId.errors?.['required']">חובה לבחור מוצר</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="price" class="form-label">מחיר:</label>
          <div class="form-field">
            <input
              type="text"
              id="price"
              name="price"
              [(ngModel)]="branchProduct.price"
              required
              min="0"
              #price="ngModel"
              class="form-input">
            <div class="error-message" [hidden]="price.valid || price.pristine">
              <div [hidden]="!price.errors?.['required']">חובה להזין מחיר</div>
              <div [hidden]="!price.errors?.['min']">מחיר המינימום גדול מ-0</div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button
            type="submit"
            [disabled]="form.invalid"
            (click)="saveChanges()"
            class="btn btn-submit">
            עדכן מוצר לסניף
          </button>
        </div>
      </form>
    </div>
  </div>
}