<form [formGroup]="addForm">
    <div>
        <label>user name:</label>
        <input type="text" formControlName="userName" #id>
        @if (addForm.controls['userName'].invalid && (addForm.controls['userName'].dirty || addForm.controls['userName'].touched)) {
            <div>you must enter user name</div>
        }
    </div>
    <div>
        <label>email:</label>
        <input type="email" formControlName="email">
        @if (addForm.controls['email'].invalid && (addForm.controls['email'].dirty || addForm.controls['email'].touched)) {
            @if (addForm.controls['email'].errors?.['required']) {
                <div>you must enter email</div>
            }
            @if (addForm.controls['email'].errors?.['email']) {
                <div>אימייל לא חוקי</div>
            }
        }
    </div>

    <div>
        <label>password:</label>
        <input type="password" formControlName="password">
        @if (addForm.controls['password'].invalid && (addForm.controls['password'].dirty || addForm.controls['password'].touched)) {
            @if (addForm.controls['password'].errors?.['required']) {
                <div>you must enter password</div>
            }
            @if (addForm.controls['password'].errors?.['minlength']) {
                <div>you must write at least 8 chars</div>
            }
        }
    </div>
    <div>
        <label>address:</label>
        <input type="text" formControlName="address" #id>
        @if (addForm.controls['address'].invalid && (addForm.controls['address'].dirty || addForm.controls['address'].touched)) {
            <div>you must enter address</div>
        }
    </div>
    <div>
        <label for="phone">phone:</label>
        <input type="text" id="phone" formControlName="phone">
      
        @if (addForm.controls['phone'].invalid && (addForm.controls['phone'].dirty || addForm.controls['phone'].touched)) {
          @if (addForm.controls['phone'].errors?.['required']) {
            <div>יש להזין מספר טלפון</div>
          }
          @if (addForm.controls['phone'].errors?.['invalidPhone']) {
            <div>מספר הטלפון אינו תקין</div>
          }
        }
      </div>
      
    <button (click)="signUp()" [disabled]="addForm.invalid">הרשמה</button>
    @if (isPopupVisible) {
        <div class="popup-overlay">
          <div class="popup-content">
            <p [innerHTML]="popupMessage"></p>
          </div>
        </div>
      }
      
</form>
