@if(branch){
<form #form="ngForm">
    <div>
            <label>שם הסניף :</label>
            <input type="text" name="name" [(ngModel)]= "branch.name" required = "true" #name = "ngModel" >
            <div [ngSwitch] = "name.errors">
                <div *ngSwitchCase = "'required'">
                    you must enter branch name!
                </div>
            </div>
            <label>טלפון:</label>
            <input type="text" name="phone" [(ngModel)]= "branch.phone" required = "true" #phone = "ngModel" >
            <div [ngSwitch] = "phone.errors">
                <div *ngSwitchCase = "'required'">
                    you must enter phone number
                </div>
                <div *ngSwitchCase="'minlength'">
                    the min length for phone is 7 chars
                </div>
        </div>
        <label>כתובת:</label>
        <input type="text" name="address" [(ngModel)]= "branch.address" required = "true" #address = "ngModel" >
        <div [ngSwitch] = "address.errors">
            <div *ngSwitchCase = "'required'">
                you must enter address
            </div>    
        </div>
        <label>אימייל:</label>
        <input type="email" name="email" [(ngModel)]= "branch.email" required = "true" #email = "ngModel" >
        <div [ngSwitch] = "email.errors">
            <div *ngSwitchCase = "'required'">
                you must enter email
            </div> 
            <div *ngSwitchCase = "'email'">
                invalid email
            </div>     
        </div>
        <button [disabled]="form.invalid" (click)="saveChanges()" >עדכון</button>
    </div>



</form>
}