<div class="update-category-container" *ngIf="category">
    <form #form="ngForm" class="update-form">
      <h2>עדכון קטגוריה</h2>
      <div class="form-group">
        <label for="name">שם קטגוריה:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="category.name"
          required
          #name="ngModel"
          class="form-input"
          placeholder="הזן שם קטגוריה"
        />
        <div class="error" [ngSwitch]="name.errors">
          <div *ngSwitchCase="'required'">חובה להכניס שם קטגוריה!</div>
        </div>
      </div>
      <div class="actions">
        <button
          class="btn save"
          [disabled]="form.invalid"
          (click)="saveChanges()"
        >
          עדכון
        </button>
      </div>
    </form>
  </div>
  
  <div class="loading" *ngIf="!category">
    <p>טוען פרטי קטגוריה...</p>
  </div>