<form [formGroup]="addForm" class="add-form">
    <h2>הוספת קטגוריה</h2>
    <div class="form-group">
      <label for="name">שם קטגוריה:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-input"
        placeholder="הזן שם קטגוריה"
        #id
      />
      <div
        class="error"
        *ngIf="addForm.controls['name'].errors?.['required'] && (addForm.controls['name'].dirty || addForm.controls['name'].touched)"
      >
        חובה להכניס שם קטגוריה!
      </div>
    </div>
    <div class="actions">
      <button
        class="btn add"
        (click)="addCategory()"
        [disabled]="addForm.invalid"
      >
        הוספה
      </button>
    </div>
  </form>