@if(!isShow){
  @for(product of products ;track $index){
    <p>מוצר ID: {{ product.id }}</p>
    <p>שם מוצר: {{ product.name }}</p>
    <button (click)="update(product)">עדכון מוצר</button>
    <button (click)="showDetailes(product.id)">פרטים נוספים</button>

    @if(productToUpdate && productToUpdate.id == product.id && showUpdate){
      <app-update-product [productUpdate] = "productToUpdate" (updateProduct)="onUpdateProduct()"></app-update-product>
     }
  }
}
@else{
  <button (click)="isShow=false">go back</button>
  }    

  <button (click)="showAdd = true">הוספת מוצר</button>

 @if(showAdd){
  <app-add-product (productAdded)="onProductAdded($event)"></app-add-product>
 }

    